/* titles */

	.title{text-align: center;overflow: hidden;
		.title-wrap{position: relative;display: inline-block;
			&:before, &:after{content: '';display: block;position: absolute;width: 1000px;height: 1px;top:calc(50% - 1px);}
			&:before{right: 100%;}
			&:after{left:100%;}
			&.black{
				&:before, &:after{background-color: #000;}
				.title-main{color:#000000;}
			}
			&.white{
				&:before, &:after{background-color: #000;}
				.title-main{color:#ffffff;}
			}
			.title-main{font-weight: 900;text-transform: uppercase;font-size: 22px;padding: 0 45px;display: inline-block;
				&:before, &:after{content:'';display: block;position: absolute;width: 10px;height: 10px;top:calc(50% - 5px);transform:rotate(45deg);}
				&:before{left:15px;}
				&:after{right:15px;}
				&.red{
					&:before, &:after{background-color: #dd4948;}
				}
				&.purple{
					&:before, &:after{background-color: #a950d8;}
				}
				&.green{
					&:before, &:after{background-color: #7cdc7e;}
				}
				&.blue{
					&:before, &:after{background-color: #6ac0f3;}
				}
				&.orange{
					&:before, &:after{background-color: #efbf2c;}
				}
			}
		}
	}

/* /titles */