.slider-wrapp{ width:100%; background-image: url('../images/slider-bg.jpg');  background-repeat: repeat;
    .slider-align{ max-width: 960px; width:100%;
        .title{h2{}}
        .slider{
            .item{
                .img{}
                .txt{}
            }

        }

    }
}