/*slider*/
    .slider-wrapp{ width:100%; background-image: url('../images/slider-bg.jpg');  background-repeat: repeat; padding-top: 46px;
        .slider-align{ max-width: 960px; width:100%; margin:0 auto;
            .title{     padding-bottom: 89px;
                .title-wrap{
                    .title-main:after,
                    .title-main:before{background-color: #efbf2c;}
                    &.white:after,
                    &.white:before{background-color: #fff;}
                }
            }
            .slider{
                .item{
                    .img{float:left; width:48.2%; padding-left: 135px;    box-sizing: border-box;}
                    .txt{ color:#fff; float:left; width:41%;
                        .txt-title{position: relative; position: relative; min-height: 82px; margin-bottom: 18px;
                            &:after{content: ''; display: block; position: absolute; width:50px; height:5px; background-color: #fff; bottom: 0;}
                            p{font:500 26px/31px 'Futura PT'; text-transform: uppercase; position: absolute; bottom: 24px;}
                        }
                        p{font:500 16px/19px 'Futura PT';margin:0px;}
                    }
                }

            }
            .slick-arrow{width:36px; height: 36px; border:5px solid #d9d9d9; border-bottom-width: 0;     top: 128px;
                &:before{content: '';}
            }
            .slick-next{border-left-width: 0; transform: rotate(45deg); right:38px;}
            .slick-prev{border-right-width: 0; transform: rotate(-45deg);    left: 38px;}
            .slick-dots{bottom: 20px;
                 li{
                    button{ width: 10px; height: 10px; background-color: #fff; border:2px solid #fff; padding: 0;
                        &:before{    content: "";    }
                    }
                 }
            }
            .slick-dots .slick-active button{background-color: #000;}
        }
    }
/*END slider*/
/*how-it-works*/
    .how-it-works{
        .how-it-wrap{ max-width: 960px; width: 100%; margin: 0 auto;padding-top: 31px;
            .title{padding-bottom: 72px;
                .title-wrap{
                    .title-main{color:#000; font-weight: bold;}
                }
            }
            .img{text-align: center; img{margin-right: 161px;}}
            .content{
                .left{ border-right: 1px dotted #abadaf; padding-left: 40px; padding-right: 20px;padding-bottom: 136px;
                    .item{text-align: right;
                        &:nth-child(1){    padding-top: 39px;    }
                        &:nth-child(2){    padding-top: 95px;    }
                        &:nth-child(3){    padding-top: 128px;    }
                        p{
                            &:nth-child(1){padding-right: 20px;}
                        }
                    }
                }
                .right{
                    .item{
                        p{padding-left: 20px;
                            &:nth-child(1){padding-left: 20px;
                                &:before{right: auto; left:-3px;}
                            }
                        }
                        &:nth-child(1){    padding-top: 200px;    }
                        &:nth-child(2){    padding-top: 166px;    }
                        &:nth-child(3){    padding-top: 111px;    }
                    }
                }
                .column{float:left;
                    .item{ width:420px; position: relative;
                        p{font: 200 14px/17px 'Futura PT'; color:#1d1d1d;margin:0px;
                            &:nth-child(1){font: 900 16px/16px 'Roboto'; color:#7a96a7; width:100%; border-bottom: 1px dotted #abadaf; position: relative;     padding-bottom: 7px;     margin-bottom: 13px;
                                &:before{content: ''; display: block;position: absolute; width:5px; height:5px; background-color: #8c95a2; bottom:-3px; right:-3px; border-radius:50%;}
                            }
                            a{color:#ca8b47;}
                        }
                    }
                }
            }
        }
    }
/*END how-it-works*/