/*breadcrumb*/
.block-breadcrumb-title.bg-new-green-yellow{background-color: #8ebe48;background-image: url(../images/bg-new-green-yellow.jpg);background-position: center center;background-repeat: no-repeat;background-size: cover;font-family: "Roboto";font-weight: 300;
    crumb{font-weight: normal;font-style: normal;font-family: "Roboto";font-weight: 300;color: #ffffff;font-size: 24px;display: block;padding-top: 7px;}
}

/*text-block*/
.text-block{padding-top: 27px;padding-bottom: 49px;
    .text-block-wrap{
        h2{font-family: "Roboto";font-size: 36px;color: #005a8f;margin: 0;line-height: 36px;font-weight: bold;text-transform: uppercase;line-height: 44px;letter-spacing: 1px;padding-bottom:24px;}
        p{font-size: 14px;line-height: 19px;margin:0;margin-bottom: 15px;}
        b{font-weight: bold;font-size: 17px;}
    }
}

/*advantages*/
.advantages{background: url('../images/advantages-bg.png') center top repeat-y;padding-top: 56px;padding-bottom: 70px;
    .advantages-container{margin:0 auto;max-width: 1190px;width: 100%;background-color: white;}
    .title{padding-top: 47px;padding-bottom: 87px;
        h2{color: #525252 !important;}
    }

    .advantages-table{padding-bottom: 60px;}
    .advantages-row{margin-bottom: 94px;
        &:last-child{margin-bottom: 0px;}
    }
    .advantages-item{float: left;width: 50%;}
    .advantages-item-wrap{display: table;width: 100%;}
    .advantages-item-img{display: table-cell;vertical-align: middle;width: 25%;}
    .advantages-item-img img{margin:0 auto;display: block;}
    .advantages-item-text{display: table-cell;vertical-align: middle;width: 75%;text-align: left;font-size: 16px;color: #525252;font-family: 'Futura PT';font-weight: 200;font-size: 16px;letter-spacing: 0.4px;line-height: 20px;/*font-family: 'Roboto';font-weight: 300;*/font-weight: 400;}
    // .advantages-item-text:first-letter{font-size: 16px;}
    .advantages-item-text p{max-width: 293px;margin:0px;}
}

/* left_query form */
.left_query{padding-top: 70px;
    .title{margin-bottom: 70px;}
    .block-leave-request h2{margin-bottom: 0;margin-top: 0;}
    .block-leave-request form .additional_info textarea,.block-leave-request form input[type="text"], .block-leave-request form input[type="email"]{font-family: "Roboto";color: #A9A9A6}
    .block-leave-request form .additional_info textarea::-webkit-input-placeholder,.block-leave-request form input::-webkit-input-placeholder{color: #a7a7a7;}
}