<div class="advantages">
    <div class="advantages-container">
        <div class="container">
            <div class="title anim">
                <div class="title-wrap black">
                    <h2 class="title-main red">Ключевые преимущества решения iBGeo</h2>
                </div>
            </div>
            <div class="advantages-table">
                <div class="advantages-row cfix anim">
                    <div class="advantages-item">
                        <div class="advantages-item-wrap">
                            <div class="advantages-item-img">
                                <img src="images/advantages-item-item-1.png" alt="">
                            </div>
                            <div class="advantages-item-text">
                                <p>Точное определение местоположения внутри зданий и помещений</p>
                            </div>
                        </div>
                    </div>
                    <div class="advantages-item">
                        <div class="advantages-item-wrap">
                            <div class="advantages-item-img">
                                <img src="images/advantages-item-item-2.png" alt="">
                            </div>
                            <div class="advantages-item-text">
                                <p>Поиск кратчайшего маршрута для пользователей</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="advantages-row cfix anim">
                    <div class="advantages-item">
                        <div class="advantages-item-wrap">
                            <div class="advantages-item-img">
                                <img src="images/advantages-item-item-3.png" alt="">
                            </div>
                            <div class="advantages-item-text">
                                <p>Трекинг по маршруту в реальном времени, автоматическое перестроение маршрута</p>
                            </div>
                        </div>
                    </div>
                    <div class="advantages-item">
                        <div class="advantages-item-wrap">
                            <div class="advantages-item-img">
                                <img src="images/advantages-item-item-4.png" alt="">
                            </div>
                            <div class="advantages-item-text">
                                <p>Легкая интеграция в мобильные приложения iOS и Android</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="advantages-row cfix anim">
                    <div class="advantages-item">
                        <div class="advantages-item-wrap">
                            <div class="advantages-item-img">
                                <img src="images/advantages-item-item-5.png" alt="">
                            </div>
                            <div class="advantages-item-text">
                                <p>Автоматическое определение этажа здания</p>
                            </div>
                        </div>
                    </div>
                    <div class="advantages-item">
                        <div class="advantages-item-wrap">
                            <div class="advantages-item-img">
                                <img src="images/advantages-item-item-6.png" alt="">
                            </div>
                            <div class="advantages-item-text">
                                <p>Рекламные сервисы на базе технологии iBeacon</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="advantages-row cfix anim">
                    <div class="advantages-item">
                        <div class="advantages-item-wrap">
                            <div class="advantages-item-img">
                                <img src="images/advantages-item-item-7.png" alt="">
                            </div>
                            <div class="advantages-item-text">
                                <p>Широкие возможности аналитики</p>
                            </div>
                        </div>
                    </div>
                    <div class="advantages-item">
                        <div class="advantages-item-wrap">
                            <div class="advantages-item-img">
                                <img src="images/advantages-item-item-8.png" alt="">
                            </div>
                            <div class="advantages-item-text">
                                <p>Контроль за передвижением сотрудников и оборудования</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>