<section class="colaborating-advantages">
	<div class="container">
		
		<div class="title anim">
			<div class="title-wrap black">
				<h2 class="title-main blue">ПРИЕМУЩЕСВА СОТРУДНИЧЕСТВА</h2>
			</div>
		</div>

		<div class="colaborating-advantages-wrap">
			<div class="colaborating-advantages-item anim">
				<div class="colaborating-advantages-icon">
					<img src="images/colaborating-advantages-img1.png" alt="">
				</div>
				<div class="colaborating-advantages-title">
					<p>Запуск решения</p>
					<p>под ключ</p>
				</div>
				<div class="colaborating-advantages-text">
					<p>Для успешного запуска проекта навигации мы оказываем полный комплекс услуг: консалтинг заказчика на всех этапах, проектирование сети навигации, монтажные и пусконаладочные работы по установке и настройке оборудования, подготовка геоданных для ГИС-модуля, разработка приложения или консультации для интеграции в существующее приложение, также сопровождение решения. Комплексный подход гарантирует качественную и стабильную работу решения indoor-навигации.</p>
				</div>
			</div>
			<div class="colaborating-advantages-item anim">
				<div class="colaborating-advantages-icon">
					<img src="images/colaborating-advantages-img2.png" alt="">
				</div>
				<div class="colaborating-advantages-title">
					<p>Быстрое развертывание решения</p>
				</div>
				<div class="colaborating-advantages-text">
					<p>Мы ценим время наших клиентов и организовываем свою работу так, чтобы спроектировать и  запустить решение навигации в помещении в максимально короткие сроки. Этому способствует слаженная работа коллектива iBecom на всех стадиях выполнения работ.</p>
				</div>
			</div>
			<div class="colaborating-advantages-item anim">
				<div class="colaborating-advantages-icon">
					<img src="images/colaborating-advantages-img3.png" alt="">
				</div>
				<div class="colaborating-advantages-title">
					<p>Простая интеграция с корпоративными системами и сервисами</p>
				</div>
				<div class="colaborating-advantages-text">
					<p>Хорошо продуманное API легко встраивается в любые мобильные приложения iOS и Android, а также интегрируется с корпоративными системами. Специалисты iBecom оказывают полную поддержку на этапе интеграции.</p>
				</div>
			</div>
			<div class="colaborating-advantages-item anim">
				<div class="colaborating-advantages-icon">
					<img src="images/colaborating-advantages-img4.png" alt="">
				</div>
				<div class="colaborating-advantages-title">
					<p>Расширение решения маркетинговыми функциями</p>
				</div>
				<div class="colaborating-advantages-text">
					<p>Совмещение решения навигации и платформы управления и геомаркетинга <a href="#">iBecom xMS</a> позволяет существенно расширить возможности решения. Вы можете профессионально управлять сетью маяков, получать широкий набор аналитики и организовать взаимодействие и маркетинговые коммуникации с Вашими пользователями.</p>
					<a href="#">Подробнее</a>
				</div>
			</div>
		</div>

	</div>
</section>