<section class="deseshion">
	<div class="container">
		
		<div class="title anim">
			<div class="title-wrap black">
				<h2 class="title-main purple">Где применяется решение</h2>
			</div>
		</div>

		<div class="deseshion-wrap">
			
			<div class="deseshion-row cfix">
				<div class="deseshion-item anim right">
					<div class="deseshion-info">
						<h6>Навигация в аэропортах и вокзалах</h6>
						<br />
						<p>Навигация в аэропортах и вокзалах позволит значительно улучшить пользовательский опыт пассажиров:</p>
						<ul>
							<li>повысить комфорт передвижения;</li>
							<li>подсказать оптимальный маршрут в нужную точку помочь прогнозировать время;</li>
							<li>информировать о сервисах по мере передвижения;</li>
							<li>быстро найти друзей и близких;</li>
							<li>запускать маркетинговые кампании посредством смартфонов пользователей;</li>
							<li>помочь людям с ограниченными возможностями;</li>
						</ul>
						<p>и многое другое.</p>
						<br />
						<p>Для служб аэропорта в первую очередь решение позволит:</p>
						<ul>
							<li>выявить проблемные зоны;</li>
							<li>запустить централизованные уведомления на смартфоны пассажиров;</li>
							<li>повысить уровень безопасности в аэропорту и на вокзале;</li>
							<li>повысить контроль за внутренним персоналом.</li>
						</ul>
						<br />
						<a href="#">
							<span>
								<p>Подробнее в презентации:</p>
								<p>«Решение для аэропортов и вокзалов»</p>
							</span>
							<span>
								<img src="images/pdf-icon.png" alt="" />
							</span>
						</a>
					</div>
					<div class="deseshion-img">
						<img src="images/deseshion-img-1.jpg" alt="" />
					</div>
				</div>
			</div>

			<div class="deseshion-row cfix">
				<div class="deseshion-item anim left">
					<div class="deseshion-info">
						
						<h6>Навигация в торговых центрах</h6>
						<br>
						<p>Внедрение навигации и геомаркетинговых сервисов в торговых центрах позволит повысить комфорт посетителей и привнести незабываемый пользовательский опыт:</p>
						<ul>
							<li>лучше сориентироваться внутри пространства ТРЦ;</li>
							<li>проложить маршруты до интересующих мест;</li>
							<li>получать персональные PUSH уведомления в смартфоне о новых магазинах, товарах по мере передвижения;</li>
							<li>найти друзей и близких в случае потери;</li>
							<li>помочь людям с ограниченными возможностями;</li>
							<li>быстро найти свой автомобиль на парковке;</li>
						</ul>
						<p>и многое другое.</p>
						<br />
						<p>Для торгового центра и магазинов открываются новые возможности:</p>
						<ul>
							<li>персональные коммуникации с посетителями посредством смартфонов;</li>
							<li>повышение вовлечения покупателей и увеличение среднего чека;</li>
							<li>выявление проблемных зон;</li>
							<li>новая аналитика для лучшего понимания профилей посетителей;</li>
						</ul>
						<p>повышение контроля персонала.</p>
						<br />
						<p><b>Согласно данным последних исследований:</b></p>
						<ul>
							<li>
								<b>82% пользователей смартфонов обращаются к смартфону для принятия решения о покупке находясь в магазине;</b>
							</li>
							<li>
								<b>60% покупателей хотят получать промо-предложения в реальном времени находясь в магазине;</b>
							</li>
							<li>
								<b>45% покупателей хотели бы видеть список покупок в виде карты с оптимальным маршрутом передвижения.</b>
							</li>
						</ul>
						<br />
						<a href="#">
							<span>
								<p>Подробнее в презентации:</p>
								<p>«Решение для торговых центров»</p>
							</span>
							<span>
								<img src="images/pdf-icon.png" alt="" />
							</span>
						</a>

					</div>
					<div class="deseshion-img">
						<img src="images/deseshion-img-2.jpg" alt="" />
					</div>
				</div>
			</div>

			<div class="deseshion-row cfix">
				<div class="deseshion-item anim right">
					<div class="deseshion-info">
						
						<h6>Навигация на выставках и в музеях</h6>
						<br />
						<p>Навигация в музеях и на выставках позволит повысить удобство нахождения посетителей:</p>
						<ul>
							<li>упростить поиск нужных экспозиций и стендов;</li>
							<li>проложить маршруты до интересующих мест;</li>
							<li>предоставить дополнительную информацию об экспонатах, рядом с которыми находится пользователь;</li>
							<li>найти потерявшихся друзей и близких;</li>
							<li>выдавать эксклюзивный контент только тем, кто сейчас внутри здания;</li>
							<li>помочь людям с ограниченными возможностями;</li>
						</ul>
						<p>и многое другое.</p>
						<br />
						<p>Для администрации выставок и музее открываются новые возможности:</p>
						<ul>
							<li>новая аналитика для лучшего понимания профилей посетителей;</li>
							<li>использовать централизованные оповещения для посетителей;</li>
							<li>повышение контроля персонала;</li>
							<li>выявление проблемных зон.</li>
						</ul>
						<br />
						<a href="#">
							<span>
								<p>Подробнее в презентации:</p>
								<p>«Решение для экспоцентров»</p>
							</span>
							<span>
								<img src="images/pdf-icon.png" alt="" />
							</span>
						</a>

					</div>
					<div class="deseshion-img">
						<img src="images/deseshion-img-3.jpg" alt="" />
					</div>
				</div>
			</div>

			<div class="deseshion-row cfix">
				<div class="deseshion-item anim left">
					<div class="deseshion-info">
						
						<h6>Навигация на спортивных объектах</h6>
						<br>
						<p>Внедрение навигации на спортивных объектах позволит сделать нахождение на спортивных событиях более удобным для посетителей:</p>
						<ul>
							<li>подсказать оптимальный маршрут до посадочного места;</li>
							<li>указать ближайший выход, туалет, кафе и т.д.;</li>
							<li>легко найти друзей и близких на территории объекта;</li>
							<li>получать эксклюзивный контент при нахождении внутри объекта;</li>
							<li>помочь людям с ограниченными возможностями;</li>
						</ul>
						<p>и многое другое.</p>
						<br />
						<p>Для администрации спортивных объектов появляются новые возможности:</p>
						<ul>
							<li>выявление проблемных зон;</li>
							<li>централизованные оповещения болельщиков (как всех, так и по секторам);</li>
							<li>повышение общего уровня безопасности посетителей;</li>
							<li>повышение контроля персонала.</li>
						</ul>
						<br />
						<a href="#">
							<span>
								<p>Подробнее в презентации:</p>
								<p>«Решение для спортивных объектов»</p>
							</span>
							<span>
								<img src="images/pdf-icon.png" alt="" />
							</span>
						</a>

					</div>
					<div class="deseshion-img">
						<img src="images/deseshion-img-4.jpg" alt="" />
					</div>
				</div>
			</div>

		</div>

	</div>
</section>