<div class="deseshion">
	<div class="container">
		
		<div class="title">
			<div class="title-wrap black">
				<h2 class="title-main purple">Где применяется решение</h2>
			</div>
		</div>

		<div class="deseshion-wrap">
			
			<div class="deseshion-item">
				<div class="deseshion-info">
					<h6>Навигация в аэропортах и вокзалах</h6>
					<p>Навигация в аэропортах и вокзалах позволит значительно улучшить пользовательский опыт пассажиров:</p>
					<ul>
						<li>повысить комфорт передвижения;</li>
						<li>подсказать оптимальный маршрут в нужную точку помочь прогнозировать время;</li>
						<li>информировать о сервисах по мере передвижения;</li>
						<li>быстро найти друзей и близких;</li>
						<li>запускать маркетинговые кампании посредством смартфонов пользователей;</li>
						<li>помочь людям с ограниченными возможностями;</li>
					</ul>
					<p>и многое другое.</p>
					<br />
					<p>Для служб аэропорта в первую очередь решение позволит:</p>
					<ul>
						<li>выявить проблемные зоны;</li>
						<li>запустить централизованные уведомления на смартфоны пассажиров;</li>
						<li>повысить уровень безопасности в аэропорту и на вокзале;</li>
						<li>повысить контроль за внутренним персоналом.</li>
					</ul>
					<br />
					<a href="#">
						<span>Подробнее в презентации: <br /> «Решение для аэропортов и вокзалов»</span>
						<img src="images/pdf-icon.png" alt="" />
					</a>
				</div>
				<div class="deseshion-img">
					<img src="images/deseshion-img-1.jpg" alt="" />
				</div>
			</div>

			<div class="deseshion-item">
				<div class="deseshion-info">
					
					<h6>Навигация в торговых центрах</h6>
					<br>
					<p>Внедрение навигации и геомаркетинговых сервисов в торговых центрах позволит повысить комфорт посетителей и привнести незабываемый пользовательский опыт:</p>
					<ul>
						<li>лучше сориентироваться внутри пространства ТРЦ;</li>
						<li>проложить маршруты до интересующих мест;</li>
						<li>получать персональные PUSH уведомления в смартфоне о новых магазинах, товарах по мере передвижения;</li>
						<li>найти друзей и близких в случае потери;</li>
						<li>помочь людям с ограниченными возможностями;</li>
						<li>быстро найти свой автомобиль на парковке;</li>
					</ul>
					<p>и многое другое.</p>
					<br />
					<p>Для торгового центра и магазинов открываются новые возможности:</p>
					<ul>
						<li>персональные коммуникации с посетителями посредством смартфонов;</li>
						<li>повышение вовлечения покупателей и увеличение среднего чека;</li>
						<li>выявление проблемных зон;</li>
						<li>новая аналитика для лучшего понимания профилей посетителей;</li>
					</ul>
					<p>повышение контроля персонала.</p>
					<br />
					<p><b>Согласно данным последних исследований:</b></p>
					<ul>
						<li>
							<b>82% пользователей смартфонов обращаются к смартфону для принятия решения о покупке находясь в магазине;</b>
						</li>
						<li>
							<b>60% покупателей хотят получать промо-предложения в реальном времени находясь в магазине;</b>
						</li>
						<li>
							<b>45% покупателей хотели бы видеть список покупок в виде карты с оптимальным маршрутом передвижения.</b>
						</li>
					</ul>
					<br />

				</div>
				<div class="deseshion-img">
					<img src="images/deseshion-img-2.jpg" alt="" />
				</div>
			</div>

			<div class="deseshion-item">
				<div class="deseshion-info">
					
				</div>
				<div class="deseshion-img">
					<img src="images/deseshion-img-3.jpg" alt="" />
				</div>
			</div>

			<div class="deseshion-item">
				<div class="deseshion-info">
					
				</div>
				<div class="deseshion-img">
					<img src="images/deseshion-img-4.jpg" alt="" />
				</div>
			</div>

		</div>

	</div>
</div>