<!-- FOOTER -->
<footer>
    <div class="up_btn" style="display: block;">
        <a href="#"></a>
    </div>

    <nav class="bot_menu">
        <div class="container">
            <ul class="clearfix">
                <li class="first-item">
                    <a href="/industry/">Отрасли</a>

                    <ul>
                        <li>
                            <a href="/industry/torgovye-tsentry/">Торговые центры и ритэйлы</a>
                        </li>
                        <li>
                            <a href="/industry/sportivnye-sooruzheniya-i-meropriyatiya/">Спортивные сооружения и мероприятия</a>
                        </li>
                        <li>
                            <a href="/industry/bolnitsy-i-meditsinskie-tsentry/">Больницы и медицинские центры</a>
                        </li>
                        <li>
                            <a href="/industry/gostinichnye-kompleksy-/">Гостиничные комплексы</a>
                        </li>
                        <li>
                            <a href="/industry/ivent-agentstva-i-marketing/">Ивент-агентства и маркетинг</a>
                        </li>
                        <li>
                            <a href="/industry/vystavochnye-ploshchadki/">Выставочные площадки</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/industry/sotsialnaya-infrastruktura/">Социальная инфраструктура</a>
                        </li>
                        <li>
                            <a href="/industry/kontsertnye-ploshchadki/">Концертные площадки</a>
                        </li>
                        <li>
                            <a href="/industry/konferents-kholly/">Конференц-холлы</a>
                        </li>
                        <li>
                            <a href="/industry/universitety-i-obuchayushchie-tsentry/">Университеты и обучающие центры</a>
                        </li>
                        <li>
                            <a href="/industry/restorany/">Рестораны</a>
                        </li>
                    </ul>
                </li>
                <li class="second-item">
                    <a href="/about_company/">О компании</a>

                    <ul>
                        <li>
                            <a href="/about_company/company/">О компании</a>
                        </li>
                        <li>
                            <a href="/about_company/our-command/">Наша команда</a>
                        </li>
                        <li>
                            <a href="/about_company/our-clients/">Наши клиенты</a>
                        </li>
                        <li>
                            <a href="/about_company/news/">Новости компании</a>
                        </li>
                        <li>
                            <a href="/about_company/vacancies/">Вакансии</a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="/products/beacons/">Оборудование</a>

                </li>
                <li class="">
                    <a href="/products/">Решения</a>

                </li>
                <li class="">
                    <a href="/contacts/">Контакты</a>

                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="f_contacts">
            <span class="office_place"></span>
            <span class="office_place_text">
                МОСКВА
                <br>ул. Островная, 2</span>
        </div>

        <div class="f_contacts">
            <span class="office_phone"></span>
            <span class="office_place_text">
                8 (495) 210-22-26
                <!-- <br>--></span>
        </div>

        <div class="soc_icons_block">
            <a class="icon soc_icon youtube" target="_blank" alt="YouTube channel" href="http://www.youtube.com/channel/UCljQPPRIc52V8S0sHpzURPg"></a>
            <a class="icon soc_icon mail" target="_blank" href="mailto:sales@ibecom.ru"></a>
            <a class="icon soc_icon fb" target="_blank" href="https://www.facebook.com/ibecom.ru"></a>
            <a class="icon soc_icon tw" target="_blank" href="https://twitter.com/iBecom_ru"></a>
            <a class="icon soc_icon vk" target="_blank" href="https://vk.com/ibecom"></a>
            <a class="icon soc_icon inst" target="_blank" href="https://instagram.com/ibecom.ru/"></a>
        </div>

        <div class="copy">
            © 2014-2016 iBecom.ru - официально зарегистрированный товарный знак, объект интеллектуальной собственности, охраняется законодательством.
            <div style="float:right">
                <!-- Yandex.Metrika informer -->
                <a href="https://metrika.yandex.ru/stat/?id=24783647&amp;from=informer" target="_blank" rel="nofollow">
                    <img src="//bs.yandex.ru/informer/24783647/3_0_FFFFFCFF_F5F5DCFF_0_pageviews" style="width: 88px; height: 31px; border: 0px; display: none !important;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:24783647,lang:'ru'});return false}catch(e){}"></a>
                <!-- /Yandex.Metrika informer --> </div>
        </div>
        <div class="espley_copy">
            Создание сайта
            <a href="http://espley.ru" rel="noffollow" target="_blank">“ESPLEY”</a>
            |
            <a href="/sitemap.php">Карта сайта</a>
        </div>
    </div>

</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script type="text/javascript" src="js/validate_script.js" ></script>

<script type="text/javascript" src="js/main.js" ></script>
<!-- /SCRIPTS -->
