<header>
    <div class="container clearfix">
        <div class="logo">
            <img src="images/logo.png" height="58" width="183" alt="ibecom.ru"></div>
        <div class="contacts_top">
            <div class="top_phone">
                <span class="icon top_phone_icon"></span>
                +7 495 210-22-26
            </div>
            <div class="languagesite imgengrus" onclick="document.location.href = 'http://ibecom.com'"></div>

            <div class="search">
            <noindex>
            <form method="get" action="/search/">
                <input type="text" class="search_text" value="" name="q">
                <input type="submit" class="search_btn" value="">
                <input type="hidden" value="r" name="how"></form>
            </noindex>
            </div>
        </div>
    </div>
</header>
<nav class="top_nav container clearfix">
    <ul>
        <li>
            <a href="/about_company/">О компании</a>
            <div class="submenu" style="display: none;">
                <ul>
                    <li>
                        <a href="/about_company/company/">О компании</a>
                    </li>
                    <li>
                        <a href="/about_company/our-command/">Наша команда</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/about_company/our-clients/">Наши клиенты</a>
                    </li>
                    <li>
                        <a href="/about_company/news/">Новости компании</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/about_company/vacancies/">Вакансии</a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a href="/products/">Продукты и решения</a>
            <div class="submenu submenu-2" style="display: none;">
                <div class="section section-1">
                    <h3>Продукты</h3>
                    <ul>
                        <li>
                            <a href="/products/beacons">
                                <img src="/images/icon_marker.png" alt="" width="21">
                                <img src="/images/icon_marker_hover.png" alt="" width="21">Маяки Bluetooth Smart</a>
                        </li>
                        <li>
                            <a href="/products/api">
                                <img src="/images/icon_marker.png" alt="" width="21">
                                <img src="/images/icon_marker_hover.png" alt="" width="21">Мобильное API (iOS, Android)</a>
                        </li>
                        <li>
                            <a href="/products/xms/">
                                <img src="/images/icon_marker.png" alt="" width="21">
                                <img src="/images/icon_marker_hover.png" alt="" width="21">iBecom xMS. Универсальная облачная (SaaS) платформа</a>
                        </li>
                        <li>
                            <a href="/products/ibfinder/">
                                <img src="/images/icon_marker.png" alt="" width="21">
                                <img src="/images/icon_marker_hover.png" alt="" width="21">iBFinder. Программа управления маяками</a>
                        </li>
                    </ul>
                </div>
                <div class="section section-2">
                    <h3>Решения</h3>
                    <ul>
                        <li>
                            <a href="/products/smart-control">
                                <img src="/images/icon_marker.png" alt="" width="21">
                                <img src="/images/icon_marker_hover.png" alt="" width="21">Smart Control. Комплексное решение для контроля персонала</a>
                        </li>
                        <li>
                            <a href="/products/ibgeo/">
                                <img src="/images/icon_marker.png" alt="" width="21">
                                <img src="/images/icon_marker_hover.png" alt="" width="21">iBGeo. Решение для indoor-навигации</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <a href="/services/">Услуги</a>
            <div class="submenu" style="display: none;">
                <ul>
                    <li>
                        <a href="/services/">Консалтинг</a>
                    </li>
                    <li>
                        <a href="/services/">Проектирование</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/services/">Интеграция и сопровождение</a>
                    </li>
                    <li>
                        <a href="/services/">Обучение персонала заказчика</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/services/">Разработка решений на заказ</a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a href="/industry/">Отрасли</a>
            <div class="submenu submenu-2" style="display: none;">
                <div class="section section-1">
                    <h3>Развлечения</h3>
                    <ul>
                        <li>
                            <a href="/industry/ivent-agentstva-i-marketing/">
                                <img src="/upload/iblock/21d/21d180af8d13f9d96155875459030202.png" alt="" width="21">
                                <img src="/upload/iblock/10e/10ef3b71c2bf117062d1e7b6473bd944.png" alt="" width="21">Ивент-агентства и маркетинг</a>
                        </li>
                        <li>
                            <a href="/industry/kontsertnye-ploshchadki/">
                                <img src="/upload/iblock/fc7/fc734eedff3be951f64aeebade3dd9c8.png" alt="" width="21">
                                <img src="/upload/iblock/f2d/f2dd77a1b5a721a6d321271d102368bc.png" alt="" width="21">Концертные площадки</a>
                        </li>
                        <li>
                            <a href="/industry/restorany/">
                                <img src="/upload/iblock/b3d/b3d91644f05abfba1d7b5fe44403ea23.png" alt="" width="21">
                                <img src="/upload/iblock/f09/f097749587971d26424baef02fec902e.png" alt="" width="21">Рестораны</a>
                        </li>
                    </ul>
                </div>
                <div class="section section-2">
                    <h3>Спорт и здоровье</h3>
                    <ul>
                        <li>
                            <a href="/industry/sportivnye-sooruzheniya-i-meropriyatiya/">
                                <img src="/upload/iblock/fe4/fe4ef106156ded543ad27739bdb985a0.png" alt="" width="21">
                                <img src="/upload/iblock/feb/feb9e85c5efef3120a57ffd15a581ac7.png" alt="" width="21">Спортивные сооружения и мероприятия</a>
                        </li>
                        <li>
                            <a href="/industry/bolnitsy-i-meditsinskie-tsentry/">
                                <img src="/upload/iblock/3bf/3bfbc4da051fb45d98ca669836a24abb.png" alt="" width="21">
                                <img src="/upload/iblock/b0a/b0a93ab74f2d7eed2b53b715981a0e00.png" alt="" width="21">Больницы и медицинские центры</a>
                        </li>
                    </ul>
                </div>
                <div class="section section-3">
                    <h3>Образование и повышение квалификации</h3>
                    <ul>
                        <li>
                            <a href="/industry/vystavochnye-ploshchadki/">
                                <img src="/upload/iblock/fbe/fbe258d28287bddf849228ae52765057.png" alt="" width="21">
                                <img src="/upload/iblock/0e4/0e46fbffe8aa4af69556fcae933a6189.png" alt="" width="21">Выставочные площадки</a>
                        </li>
                        <li>
                            <a href="/industry/konferents-kholly/">
                                <img src="/upload/iblock/d6a/d6ac67f4d315d7ccd1e0cdb22c720d65.png" alt="" width="21">
                                <img src="/upload/iblock/4f9/4f969a4143303c4212ab3cee7cd390b9.png" alt="" width="21">Конференц-холлы</a>
                        </li>
                        <li>
                            <a href="/industry/universitety-i-obuchayushchie-tsentry/">
                                <img src="/upload/iblock/306/3064c671c0a1957f2bd153d3e141c349.png" alt="" width="21">
                                <img src="/upload/iblock/5cb/5cb756a9d4a31259faf3d29550be1d86.png" alt="" width="21">Университеты и обучающие центры</a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <div class="section section-4">
                    <h3>Прочие услуги</h3>
                    <ul>
                        <li>
                            <a href="/industry/torgovye-tsentry/">
                                <img src="/upload/iblock/7a7/7a76e7ae2cdb4329ede8ee8cc38fb3b4.png" alt="" width="21">
                                <img src="/upload/iblock/4af/4af0dd2e0b04d08fce0b83e40aa9fe6e.png" alt="" width="21">Торговые центры и ритэйлы</a>
                        </li>
                        <li>
                            <a href="/industry/gostinichnye-kompleksy-/">
                                <img src="/upload/iblock/ed0/ed0311cd39ddda6fcbffb17a4afd6ffc.png" alt="" width="21">
                                <img src="/upload/iblock/c9b/c9b509694f235b590c6dc3773a11373a.png" alt="" width="21">Гостиничные комплексы</a>
                        </li>
                        <li>
                            <a href="/industry/sotsialnaya-infrastruktura/">
                                <img src="/upload/iblock/953/953467f8ee140bf76507617328afd19d.png" alt="" width="21">
                                <img src="/upload/iblock/8e0/8e01607469fa1de3e803afe84ce780c5.png" alt="" width="21">Социальная инфраструктура</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <a href="/partners/">Партнеры</a>
        </li>
        <li>
            <a href="/contacts/">Контакты</a>
        </li>
    </ul>
</nav>