<section class="how-it-works">
    <div class="how-it-wrap container">
        <div class="title anim">
            <div class="title-wrap black">
                <h2 class="title-main green">КАК ЭТО РАБОТАЕТ</h2>
            </div>
        </div>
        <div class="img anim"><img src="images/tabsmart.png" alt=""></div>
        <div class="content cfix">
            <div class="column left">
                <div class="item anim">
                    <p>Маяки Bluetooth Smart </p>
                    <p>Внутри помещения, в котором необходимо организовать indoor-навигацию, устанавливаются специальным образом маяки Bluetooth Smart, которые выполняют роль миниатюрных стационарных спутников (по аналогии с GPS/ГЛОНАСС). Маяки излучают сигналы, которые принимаются мобильным устройством и способом трилатерации, благодаря разработанным уникальным алгоритмам компании iBecom, мобильное устройство определяет свое местоположение с точностью до +/- 2 метров. Надежные адаптивные алгоритмы позволяют с высокой точность определять местоположение мобильного устройства внутри помещений даже в случаях наличия значительных радиопомех.</p>
                </div>
                <div class="item anim">
                    <p>Навигация на улице</p>
                    <p>Навигацию на технологии Bluetooth Smart можно также организовать на уличной территории, предварительно расставив маяки Bluetooth Smart определенным обрзом. В этом случае точность определения местоположения может быть многократно выше по сравнению с GPS/ГЛОНАСС навигацией.</p>
                </div>
                <div class="item anim">
                    <p>Персональные PUSH-уведомления</p>
                    <p>Совместно с платформой управления <a href="#">iBecom xMS</a> решения может быть легко расширено функционалом для решения маркетинговых задач, таких как персональные PUSH-уведомления об акциях и скидках, в том числе с учетом профиля пользователя (пол, возраст, увлечения и т.д.).</p>
                </div>
            </div>
            <div class="column right">
                 <div class="item anim">
                    <p>iOS и Android</p>
                    <p>Мобильным устройством может выступать любое устройство на платформах iOS и Android. Это может быть смартфон или планшет, или другой тип устроства. Поддержка технологии на платформе iOS начинается с версии iOS 7.1, на Android начиная с версии Adnroid 4.3.</p>
                </div>
                <div class="item anim">
                    <p>ГИС-модуль</p>
                    <p>Используя ГИС-модуль (геоинформационная система), интегрируемый в мобильное приложение, в котором занесены различные геоданные, такие как координаты маяков, маршрутный граф, геозоны, можно сделать опыт пользования навигации в помещении таким же удобным как в широко используемых навигационных приложениях.</p>
                </div>
                <div class="item anim">
                    <p>История передвижений</p>
                    <p>История передвижений пользователей и фиксация времени нахождения в той или иной зоне здания и помещения позволяет получить не только статистику о количестве и передвижении пользователей, но и выявить проблемные зоны.</p>
                </div>
            </div>
        </div>
    </div>
</section>