<section class="slider-wrapp">
    <div class="slider-align">
        <div class="title">
            <i></i><h2>Решение включает в себя</h2><i></i>
        </div>
        <div class="slider">
            <div class="item">
                <div class="img"><img src="images/phone.png" alt=""></div>
                <div class="txt">
                    <p>Обучение представителей заказчика</p>
                    <p>В рамках запуска решения под ключ специалисты iBecom проводят on-site (на месте) обучение представителей заказчика для возможности дальнейшей эксплуатации решения силами заказчика.</p>
                </div>
            </div>
        </div>
    </div>
</section>