<section class="slider-wrapp">
    <div class="slider-align container anim">
        <div class="title">
            <div class="title-wrap white">
                <h2 class="title-main">Решение включает в себя</h2>
            </div>

        </div>
        <div class="wrappGTX cfix">
            <div class="imgs"><img src="images/phone.png" alt=""></div>
            <div class="slides">
                <div class="slide">
                    <div class="titles">
                        <p> Проектирование</p>
                    </div>
                    <div class="txt">
                        <p>На данном этапе проводится обследование помещений с выездом на место инженера для детального осмотра объекта, оценки особенностей объекта и предварительной оценки способов установки и количества требуемых маяков Bluetooth Smart для решения задачи навигации. А также подготовки проекта размещения маяков на объекте.</p>
                    </div>
                </div>
                <div class="slide">
                    <div class="titles">
                        <p>Подготовка цифровой карты и геоданных</p>
                    </div>
                    <div class="txt">
                        <p>Данный этап включает в себя комплекс работ по оцифровке карт и подготовке необходимых для проекта геоданных. Оцифровка может быть относительно простой в случае наличия у заказчика цифровых поэтажных планов (например, AutoCAD, PDF), или «с нуля» путем замеров геометрии здания с выездом на объект. Геоданные готовятся исходя из задач проекта и могут включать информацию о локальных координатах маяков, маршрутный граф, данные о геозонах.</p>
                    </div>
                </div>
                <div class="slide">
                    <div class="titles">
                        <p>Поставка и конфигурирование оборудования</p>
                    </div>
                    <div class="txt">
                        <p>На данном этапе происходит подготовка маяков Bluetooth Smart для проекта и предварительное конфигурирование его параметров под проект.</p>
                    </div>
                </div>
                <div class="slide">
                    <div class="titles">
                        <p>Монтаж и настройка оборудования</p>
                    </div>
                    <div class="txt">
                        <p>Данный этап включает в себя работы по монтажу маяков на объекте согласно проекта, тонкую настройку параметров маяков Bluetooth Smart для решения задачи навигации согласно требований проекта.</p>
                    </div>
                </div>
                <div class="slide">
                    <div class="titles">
                        <p>Конфигурирование данных в системе управления iBecom xMS</p>
                    </div>
                    <div class="txt">
                        <p>Данный этап включает в себя конфигурирование всех данных в системе управления iBecom xMS согласно проекта, таких как реестр маяков с расстановкой и настройками согласно проекта, загрузка технических планов, формирование геозон, синхронизация технических планов серверной части с приложением, подключение приложений заказчика и другие параметры.</p>
                    </div>
                </div>
                <div class="slide">
                    <div class="titles">
                        <p>Интеграция с внешними сервисами</p>
                    </div>
                    <div class="txt">
                        <p>В случае необходимости интеграции решения с корпоративными системами заказчика оказывается необходимая поддержка и действия для успешной интеграции и необходимой настройки.</p>
                    </div>
                </div>
                <div class="slide">
                    <div class="titles">
                        <p>Обучение представителей заказчика</p>
                    </div>
                    <div class="txt">
                        <p>В случае необходимости интеграции решения с корпоративными системами заказчика оказывается необходимая поддержка и действия для успешной интеграции и необходимой настройки.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>