<section class="text-block">
    <div class="container">
        <div class="text-block-wrap clearfix">
            <img src="images/text-block-img.jpg" alt="" style="float:right;margin-left:25px;margin-bottom:25px;margin-top: 6px;" >
            <h2>Решение навигации внутри помещений</h2>

            <b>По статистике более 80% времени </b>
            <p>мы проводим под крышами зданий: бизнес-центров, торговых центров, магазинов, ъаэропортов, вокзалов и системы, позволяющие решить такую задачу как геолокация и навигация в помещении различных объектов, становятся жизненно необходимыми. Indoor-навигация, как уже принято называть навигацию в помещениях, помогает за считанные секунды отыскать на огромном паркинге свой автомобиль, найти нужный магазин в торговом приложения для позиционирования в помещениях, пользователи существенно экономят свое время. А для компаний, предлагающих свои товары и услуги, навигация в помещении – возможность значительно повысить удобство и привлечь клиентов и покупателей. Установив на своей территории специальные Bluetooth маяки, собственники бизнеса могут помочь пользователям быстро сориентироваться в пространстве, а также представить им массу полезных сервисов информационного и рекламного характера. А для себя получить много полезной аналитики.</p>
            <p>Компания iBecom предлагает современное и качественное решение по комплексному оснащению навигацией любых типов помещений на базе технологии Bluetooth Smart.</p>


        </div>
    </div>
</section>